// out: ./styl.css, compress: true, sourceMap: true
@import "normalize", "rem", "font", "color", "mixin", "default";

/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;

* {
    @include ani();
}

html {
	min-width: $min-width;
	max-width: 100%;
	font-size: 14px;
	min-height: 100%;
}

html, 
body {
	@media (max-width: $screen-size-pc - 1) {
		&.lock {
			height: 100vh;
			overflow: hidden;
		}
	}
}

body {

    .container {
        @include container(100%);
        text-align:left;
        vertical-align:top;
        padding:rem(0 10px);

        @media (min-width: $screen-size-pc) {
            @include container($screen-size-pc);
            padding: 0;
        }
    }

    /* header */
    header {
        position:fixed;
        z-index:800;
        left:0;
        right:0;
        top:0; 
        text-align:center;


        .container {
            height:100px;

            @media (min-width: $screen-size-pc) {
                height:150px;
            }


            h1 {

                display:inline-block;
                position:absolute;
                left:10px;
                top:15px;
                margin:0;

                a {
                    display:block;
                    font-size:0;
                    width:80px;
                    height:55px;
                    background:url("../images/logo.png") no-repeat center / 100% auto;

                    @media (min-width: $screen-size-pc) {
                        width:113px;
                        height:78px;
                    }
                }
            }

            div.header-tools {
                position:absolute;
                right:10px;
                top:30px;

                @media (min-width: $screen-size-pc) {
                    top:50px;
                }

                a.login {
                    display:inline-block;
                    vertical-align:middle;
                    font-size:0;
                    width:36px;
                    height:36px;
                    margin-right:6px;
                    background:url(../images/icon-login.svg) no-repeat center / 100% auto;

                    @media (min-width: $screen-size-pc) {
                        width:auto;
                        height:auto;
                        background:transparent;
                        font-size:16px;
                        color:#fff;
                        margin-right:20px;
                    }
                }

                div.language {

                    display:inline-block;
                    vertical-align:top;
                    position:relative;

                    button {
                        display:block;
                        font-size:0;
                        width:36px;
                        height:36px;
                        border:none;
                        font-size:0;
                        margin-right:10px;

                        &.ko {
                            background:url(../images/icon-language-ko.svg) no-repeat center / 100% auto;
                        }

                        &.en {
                            background:url(../images/icon-language-en.svg) no-repeat center / 100% auto;
                        }

                        &.jp {
                            background:url(../images/icon-language-jp.svg) no-repeat center / 100% auto;
                        }

                        &.cn {
                            background:url(../images/icon-language-cn.svg) no-repeat center / 100% auto;
                        }

                        @media (min-width: $screen-size-pc) {
                            width:auto;
                            height:auto;
                            background:transparent;
                            font-size:16px;
                            color:#fff;
                            margin-right:30px;

                            &.ko,
                            &.en,
                            &.jp,
                            &.cn {
                                background:transparent;
                            }

                            i {
                                font-size:20px;
                                position:relative;
                                top:4px;
                                margin-left:6px;
                            }
                        }
                        
                    }

                    div.list {
                        position:absolute;
                        max-height:0;
                        overflow:hidden;
                        left:0;
                        top:40px;
                        background:#fff;
                        border-radius:10px;
                        @include drop-shadow($x:0,$y: 3px, $blur: 16px, $spread: 0, $alpha: 0.3);

                        a {
                            display:block;
                            height:auto;
                            padding:5px 10px;
                            opacity:1;

                            &:first-of-type {
                                padding-top:10px;
                            }

                            &:last-of-type {
                                padding-bottom:10px;
                            }
                        }

                    }

                    &.on {

                        button {
                            i {
                                transform: rotate(180deg);
                            }
                        }

                        div.list {
                            max-height:1000px;

                        }
                    }

                    
                }

                button.main-menu {
                    display:inline-block;
                    vertical-align:middle;
                    position:relative;
                    height:26px;
                    width:28px;
                    margin:0;
                    padding:0;
                    background:transparent;
                    border:none;
                    
                    span {
                        display:none;
                    }

                    u {
                        display:block;
                        position:absolute;
                        right:0;
                        width:28px;
                        height:2.5px;
                        border-radius:100px;
                        background:#fff;

                        &:first-of-type{
                            top:0;
                        }

                        &:nth-of-type(2) {
                            top:50%;
                            width:20px;
				            transform:translateY(-50%);
                        }

                        &:last-of-type {
                            bottom:0;
                        }

                    }

                    @media (min-width: $screen-size-pc) {
                        span {
                            display:block;
                            font-size:16px;
                            color:#fff;
                            margin-right:40px;
                        }
                        width:auto;
                        height:auto;
                        background:transparent;
                    }
                    
                }

            }
        }

        &.black {
            .container {

                div.header-tools {

                    a.login {
                        color:#000;
                    }

                    div.language {
                        button {
                            color:#000
                        }
                    }

                    button.main-menu {
                        u {
                            background:#000;
                        }

                        span {
                            color:#000;
                        }
                    }

                }
            }
        }
    }

    nav#main-menu {
        display:none;
    }

    div#content {
        background:#ccc;

        /* SUB */
        &.main {



            section.main {
                position:relative;
                width:100%;
                overflow:hidden;
                padding:100px 0;
                background:#efefef;

                // &:before {
                //     content:"";
                //     display:block;
                //     position:absolute;
                //     z-index:10;
                //     left:50%;
                //     top:50%;
                //     margin:-35vh 0 0 -150%;
                //     width:300%;
                //     height:70vh;
                //     background:#efefef;
                //     transform: rotate(30deg);
                //     transform-origin:center center;

                // }

                div.main-image {

                    ul.slider {
                        position:absolute;
                        width:80vw;
                        height:45vw;
                        list-style:none;
                        overflow:hidden;
                        margin:0;
                        padding:0;
                        list-style:none;
                        z-index:10;

                        @media (min-width: $screen-size-pc) {
                            width:60vw;
                            height:30vw;
                        }

                        &::before {
                            content:"";
                            display:block;
                            position:absolute;
                            z-index:10;
                            right:-1px;
                            top:-1px;
                            left:-1px;
                            bottom:-1px;
                            background: url("../images/mask01.png") no-repeat center / 100% 100%;
                        }

                        &.slider2 {
                            z-index:11;
                            &::before {
                                background: url("../images/mask02.png") no-repeat center / 100% 100%;

                            }
                        }

                        &::after {
                            content:"";
                            display:block;
                            position:absolute;
                            left:0;
                            right:0;
                            top:0;
                            bottom:0;
                            background:rgba(0,0,0,0.4);
                        }


                        &.right {
                            right:0;
                            top:0;

                        }

                        &.left {
                            left:0;
                            bottom:0;

                        }

                        li {
                            position:absolute;
                            left:0;
                            right:0;
                            top:0;
                            bottom:0;
                            opacity:0;

                            img {
                                display:none;
                            }

                        }
                    }
                }

                .container {
                    position:absolute;
                    left:0;
                    right:0;
                    top:50%;
                    transform:translateY(-80%);
                    z-index:20;
                    text-align:center;
                    height:auto;

                    @media (min-width: $screen-size-pc) {
                        top:50%;


                        &::after {
                            content:"scroll down";
                            opacity:.5;
                            display:block;
                            font-size:14px;
                            color:#3B3B3B;
                            margin:30px 0 0;
                            padding:0 0 20px;
                            background:url(../images/icon-scrolldown.png) no-repeat center bottom;


                            
                        }
                    }
                    h3 {
                        font-size:34px;
                        letter-spacing:-1px;
                        margin:0 0 20px;
                        color:#000;

                        @media (min-width: $screen-size-pc) {
                            font-size:48px;
                            margin:0 0 30px;
                        }

                        small {
                            display:block;
                            font-size:26px;
                            color:#555;
                            font-weight:400;

                            @media (min-width: $screen-size-pc) {
                                font-size:38px;
                            }
                        }
                    }

                    &>a {
                        display:block;
                        margin:0 auto;
                        width:250px;
                        line-height:70px;
                        text-align:center;
                        border:6px solid #F49533;
                        font-size:18px;
                        text-align:center;
                        color:#000;
                        font-weight:800;

                        @media (min-width: $screen-size-pc) {
                            width:356px;
                            line-height:104px;
                            border-width:8px;
                            font-size:24px;
                        }

                        i {
                            position:relative;
                            top:4px;
                            color:#F49533;
                            font-size:24px;

                            @media (min-width: $screen-size-pc) {
                                font-size:32px;
                            }
                        }

                        &:hover {
                            
                            @include drop-shadow($x:0,$y: 3px, $blur: 16px, $spread: 0, $alpha: 0.3);
                            border-radius:40px;
                        }
                    }
                }

                div.links {
                    position:absolute;
                    left:0;
                    right:0;
                    bottom:0;
                    z-index:20;
                    background:rgba(255,255,255,.7);
                    text-align:center;
                    font-size:0;
                    padding:0 0 20px;

                    @media (min-width: $screen-size-pc) {
                        padding:0 0 40px;
                        
                    }

                    a {
                        display:inline-block;
                        font-size:16px;
                        width:calc(100% / 2);
                        color:#000;
                        padding:20px 0 0;

                        @media (min-width: $screen-size-pc) {
                            width:auto;
                            margin:0 60px;
                            padding:40px 0 0;
                            font-size:20px;
                            
                        }
    

                        &::before {
                            content:"";
                            display:block;
                            width:50px;
                            height:50px;
                            background:#4D4D4D;
                            margin:0 auto 10px;
                            border-radius:50%;
                            @include drop-shadow($x:0,$y: 3px, $blur: 6px, $spread: 0, $alpha: 0.16);
                            @include ani(.1s);

                            @media (min-width: $screen-size-pc) {
                                width:60px;
                                height:60px;
                                
                            }
                        }
    
                        

                        &:nth-of-type(1) {
                            &::before {
                                background:url(../images/icon-link01.svg) no-repeat #404040 center / 70% auto;
                            }
                        }

                        &:nth-of-type(2) {
                            &::before {
                                background:url(../images/icon-link02.svg) no-repeat #404040 center / 70% auto;
                            }
                        }

                        &:nth-of-type(3) {
                            &::before {
                                background:url(../images/icon-link03.svg) no-repeat #404040 center / 60% auto;
                            }
                        }

                        &:nth-of-type(4) {
                            &::before {
                                background:url(../images/icon-link04.svg) no-repeat #404040 center / 60% auto;
                            }
                        }


                        @media (min-width: $screen-size-pc) {
                            &:hover {
                                &::before {
                                    background-color:#000;
                                    @include drop-shadow($x:0,$y: 3px, $blur: 6px, $spread: 0, $alpha: 0.4);
                                    margin:0 auto 13px;
                                }
                            }
                            
                        }



                    }
                }

            }

            section.community {
                .container {
                    padding:100px 0;

                }

            }





        }

        /* SUB */
        &.sub {
            .container {


            }
        }

    }


    footer#footer {
        .container {


        }

    }
}
